# Core LangChain
langchain==0.3.26
langchain-community==0.3.26

# Gemini (Google)
langchain-google-genai==2.0.0

# Embeddings
sentence-transformers==4.1.0

# Vector DB
langchain-pinecone==0.2.8

# PDF + utils
pypdf==5.6.1
python-dotenv==1.1.0

# Backend
flask==3.1.1

# Optional but useful
tiktoken